__pycache__/
*.pyc
*.pyo
edje/
*.lyx~
*.lyx#
.venv/
targets/colab/create_data_yaml.py
targets/colab/custom_data/
targets/colab/data/
targets/colab/train_val_split.py
temp/
targets/colab/data*
targets/colab/runs/
targets/colab/yolo11*
runs/
targets/colab/my_model.zip
targets/colab/my_model/
targets/nvidia/yolo11*

# Label Studio data (projects, DB, uploads)
labeling/tmp/
labeling/ls-data/**
!labeling/ls-data/media/
!labeling/ls-data/media/upload/
!labeling/ls-data/media/upload/.gitkeep


# YOLO backend scratch + cache
labeling/yolo/data_server/*
!labeling/yolo/data_server/.gitkeep
labeling/yolo/cache_dir/*
!labeling/yolo/cache_dir/.gitkeep

# Secrets / environment config
labeling/.env

# Large model weights/checkpoints
models/*.pt
models/*.onnx
models/*.pth
models/checkpoints/
!models/yolo11s_coins.pt
!models/yolo11s_ToyCars.pt
!models/yolo11n_toy_cars_190.pt
# Data files are stored in data folder and have the form data001, ... data999
data/data???/
