services:
  labelstudio:
    image: heartexlabs/label-studio:latest
    container_name: labelstudio
    ports:
      - "8080:8080"
    volumes:
      - ./ls-data:/label-studio/data
      - ./ls-data/media:/data     # <-- need special mounting so that data path in container matches json on imported data
    environment:
      - LABEL_STUDIO_LOCAL_FILES_DOCUMENT_ROOT=/data # e.g., label-studio/data or /data in cloud storage - map to those volumes above
      - LOCAL_FILES_SERVING_ENABLED=true
  yolo:
    container_name: yolo
    image: heartexlabs/label-studio-ml-backend:yolo-master
    depends_on:
      - labelstudio
    environment:
      - LABEL_STUDIO_HOST=http://labelstudio:8080
      - LABEL_STUDIO_API_KEY=${LABEL_STUDIO_API_KEY}
      - LABEL_STUDIO_ENABLE_LEGACY_API_TOKEN=true
    ports:
      - "9090:9090"
    volumes:
      - ../models:/app/models
